@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

:root {
    --background: #F8FAFC;
    --foreground: #0F172A;
}

:root.dark {
    --background: #0B0E14;
    --foreground: #ffffff;
}

body {
    background-color: var(--background);
    color: var(--foreground);
}